@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: black;
    color: white;
    /* max-height: 100vh;
    overflow: hidden; */
}

.left {
    width: 25vw;
    margin: 3px;
    padding: 10px;

}

.right {
    width: 75vw;
    /* padding: 10px; */
    margin: 17px 0px;
    position: relative;


}

.home ul li {
    display: flex;
    gap: 15px;
    width: 14px;
    list-style: none;
    padding-top: 14px;
    font-weight: 500;
}

.lib-head {
    display: flex;
    gap: 15px;
    list-style: none;
    padding-top: 14px;
    font-weight: 500;
}

.footer,
.footer a {
    display: flex;
    gap: 13px;
    padding-top: 14px;
    font-size: 10px;
    color: #b3b3b3;

}

.footer {
    position: absolute;
    bottom: 10px;
    padding: 10px 0;
}



.library {
    min-height: 80vh;
    position: relative;
}


.header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(23, 23, 23);
    border-radius: 10px;

}

.header>* {
    padding: 20px;
}

.spotify-playlists {
    padding: 16px;
}

.card-container {
    margin: 30px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    max-height: 70vh;
    overflow-y: scroll;
}

.card {
    width: 200px;
    /* border: 2px solid #ffffff; */
    background-color: rgb(30, 30, 30);
    padding: 10px;
    border-radius: 5px;
    position: relative;
}

.card>* {
    padding: 10px 0 0 0;
}

.card img {
    width: 100%;
    object-fit: contain;
}

.play svg {
    background-color: #1fdf64;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    color: #000000;


    /* box-shadow: 0 4px 12px rgba(29, 185, 84, 0.4);
    transition: transform 0.2s ease, box-shadow 0.2s ease; */
}

.play {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 140px;
    right: 20px;
    opacity: 0;
    transition: all 1s ease-out;
}

.buttons>* {
    margin: 0 12px;
}

.sign-up {
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0);
    color: rgb(212, 212, 212);
    border: none;
    cursor: pointer;
    font-size: 16px;

}

.sign-up:hover {
    transform: scale(1.05);
    transition: all 0.1s ease-in-out;
    color: white;
}

.log-in {
    background-color: white;
    border-radius: 50px;
    cursor: pointer;
    width: 75px;
    color: black;
    padding: 10px;

}

.log-in:hover {
    font-weight: bold;
    transform: scale(1.05);
    transition: all 0.1s ease-in-out;

}

.playbar {
    position: absolute;
    bottom: 0;
    color: green;
    background-color: white;
    width: 100%;
    padding: 20px;

}

.song-btns {
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: center;
}

.song-btns img {
    width: 30px;
    cursor: pointer;
}