.flex {
    display: flex;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

.bg-black {
    background-color: black;
    color: white;
}

.invert {
    filter: invert(100%);
}

.bg-grey {
    background-color: #121212;
    color: white;
}

.rounded {
    border-radius: 7px;
}

.p-1 {
    padding: 10px;
}

.m-1 {
    margin: 5px;
}

.icon-width {
    width: 14px;
}