.flex {
    display: flex;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

.bg-black {
    background-color: black;
    color: white;
}

.invert {
    filter: invert(100%);
}

.bg-grey {
    background-color: #121212;
    color: white;
}

.rounded {
    border-radius: 7px;
}

.p-1 {
    padding: 10px;
}

.m-1 {
    margin: 5px;
}

.icon-width {
    width: 14px;
}

.black-cover {
    background-color: black;
    opacity: 0.5;
    z-index: 1;
    transition: opacity 0.5s ease;
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #121212;
}

::-webkit-scrollbar-thumb {
    background: #535353;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #b3b3b3;
}